<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<!-- 이 XML 이 어떤 interface 와 연결되는지 설정 -->
<mapper namespace="com.quiz.bank.dao.HomeDAO">
	
	<insert id="registQuiz" parameterType="com.quiz.bank.vo.QuizVO">
		INSERT INTO quiz
			(
			TEST_SEQ ,
			TEST_CATEGORY_SEQ ,
			SUBJECT_CATEGORY_SEQ ,
			QUIZ_INDEX ,
			QUIZ_CONTENT ,
			QUIZ_EXPLATION ,
			QUIZ_POINT ,
			QUIZ_ANSWER ,
			USE_YN
			)
		VALUES
			(
			#{test_seq} ,
			#{test_category_seq} ,
			#{subject_category_seq} ,
			#{quiz_index} ,
			#{quiz_content} ,
			#{quiz_explation} ,
			#{quiz_point} ,
			#{quiz_answer} ,
			'Y'		
			)
	</insert>
	
	<insert id="registTestCategory" parameterType="com.quiz.bank.vo.TestCategory">
	INSERT INTO test_category
		(
		TEST_CATEGORY ,
		USE_YN ,
		PASS_CRITERIA ,		
		)
	VALUES
		(
		#{test_category} , 
		#{use_yn} ,
		#{pass_criteria}		
		)
	</insert>
	
</mapper>